<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/png" href="img/logo.png" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>INH BOOK WORM</title>
        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <div class="login-container">
            <form action="/login" method="post" th:if="${!isLocked}">
                <img class="logo-icon" src="img/logo.png" alt="Logo" /> <br />
                <img class="logo-title" src="img/logo-title.png" alt="Logo" /> <input class="input-field" type="email" name="email" placeholder="Email" required />

                <div style="position: relative; width: 100%;">
                    <input class="input-field" type="password" id="password" name="password" placeholder="Password" required style="width: 90%;" />
                </div>

                <div style="display: flex; justify-content: flex-start; margin-top: 5px; margin-left: 5px;">
                    <label for="showPassword" style="display: flex; align-items: center; font-size: 14px; margin-bottom: 10px;">
                        <input type="checkbox" id="showPassword" style="margin-right: 5px;" />
                        <span>Show Password</span>
                    </label>
                </div>

                <button type="submit">Login</button>
            </form>
            <p th:if="${errorMessage}" class="error-msg">[[${errorMessage}]]</p>
            <p th:if="${param.success}" class="success-msg">Login successful!</p>

            <script>
                document.getElementById("showPassword").addEventListener("change", function () {
                    let passwordInput = document.getElementById("password");
                    passwordInput.type = this.checked ? "text" : "password";
                });
            </script>
            <div class="links" th:if="${!isLocked}">
                <a href="forgot-password" id="forgot-password-link">Forgot Password?</a><br />
                <a href="register" id="create-account-link">Create New Account</a>
            </div>
        </div>
    </body>
</html>
